<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<title>List</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					List Module</a>
			</div>
		</div>
	</nav>

	<br class="hidden-xs"/>
	<br class="hidden-xs"/>
	<br class="hidden-xs"/>
	<br class="hidden-xs"/>
	<div class="container">
		<table class="table">
		    <thead>
		        <tr>
		            <th> Name </th>
		            <th> PPSN </th>
		            <th> DOB </th>
		            <th> Mobile Phone </th>
		        </tr>
		    </thead>
		    <tbody>
		    <tr th:if="${list.empty}">
		            <td colspan="4"> No records have been created</td>
		        </tr>
		        <tr th:each="person : ${list}">
		            <td><span th:text="${person.name}"> Name </span></td>
		            <td><span th:text="${person.pps}"> PPSN </span></td>
		            <td><span th:text="${#dates.format(person.birth, 'dd/MM/yyyy')}"> DOB </span></td>
		            <td><span th:text="${person.mobile}"> Mobile Phone </span></td>
		        </tr>
		    </tbody>
		</table>
	</div>

</body>
</html>