<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<title>Registration</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					List Module</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered</div>
				</div>

				<h1>Registration</h1>
				<form th:action="@{/register}" th:object="${person}" method="post">

					<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
						<label for="name" class="control-label">Name *</label> <input
							id="name" class="form-control" th:field="*{name}" th:maxlength="25" th:required="required" />
						<p class="error-message"
							th:each="error: ${#fields.errors('name')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('pps')}? 'has-error':''">
						<label for="pps" class="control-label">PPS number *</label> <input
							id="pps" class="form-control" th:field="*{pps}" th:required="required"/>
						<p class="error-message"
							th:each="error : ${#fields.errors('pps')}" th:text="${error}">Validation
							error</p>
					</div>
					<div class="form-group" id="div-birth"
						th:classappend="${#fields.hasErrors('birth')}? 'has-error':''">
						<label for="birth" class="control-label">Date of Birth *</label> 
						<input id="birth" class="form-control" type="date" th:value="*{birth}" th:field="*{birth}" 
							th:required="required"/>
						<p class="error-message" id="error-birth"/>
						<p class="error-message" 
							th:each="error: ${#fields.errors('birth')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group" id="div-mobile"
						th:classappend="${#fields.hasErrors('mobile')}? 'has-error':''">
						<label for="mobile" class="control-label">Mobile number</label> <input
							type="number" id="mobile" class="form-control" th:field="*{mobile}" />
						<p class="error-message" id="error-mobile"/>
						<p class="error-message"
							th:each="error: ${#fields.errors('mobile')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Submit</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$("form").submit(function(){
		var minimumAge = 16;
		var dateOfBirthFieldValue = $("#birth").val();
		var dates = $("#birth").val().split("-");
		var setDate = new Date(parseInt(dates[0]) + minimumAge, dates[1] - 1, dates[2]);
        var todayDate = new Date();

		if(!$("#mobile").val().startsWith("08")){
			$("#div-mobile").addClass("has-error");
	       	$("#error-mobile").html("Must begin with 08 prefix");
	       	return false;
		}
        
        if (todayDate < setDate) {
       		$("#div-birth").addClass("has-error");
       		$("#error-birth").html("Must be over 16 years old");
       		return false;
       	} else {
        	$("#error-birth").empty();
        	$("#div-birth").removeClass("has-error");
        	$("#error-mobile").empty();
        	$("#div-mobile").removeClass("has-error");
       		return true;
       	}
	});
	</script>
</body>
</html>